@using CarDealership.Models;

<h1>Search our car's by price</h1>

<ul>
  @foreach (Cars Cars in Model)
  {
    <li>@Cars.GetMakeModel()</li>

  }

</ul>
<!-- <a href="/items/new">Add a new item.</a> -->